* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-bar {
    background: transparent;
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 80px;
    margin: 15px;
    padding: 20 px;
}

.active,
.menu-bar ul li:hover {
    background: hsl(54, 88%, 39%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.menu-bar .fa {
    margin-right: 7px;
}

.Sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .Sub-menu-1 {
    display: block;
    position: absolute;
    background: hwb(29 5% 16%);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .Sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .Sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.menu-bar ul li:hover .Sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .Sub-menu-1 ul li a:hover {
    color: blue;
}

.fa-angle-double-right {
    float: right;
}

.search {
    width: 330px;
    float: right;
    margin-left: 170px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.btn {
    width: 30%;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus {
    outline: none;
}

.srch {
    outline: none;
}